<!DOCTYPE html>
<html>
  <head>
    <title>Complete ASL</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="container">
        <nav>
          <%= link_to "Home", root_path %>
          <%= link_to "About", about_path %>
          <%= link_to "Contact Us", contact_path %>
        </nav>
      </div>
    </header>

    <%= yield %>

    <footer>
      Copyright 2024
    </footer>
  </body>
</html>
